*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    border: 0 solid;
    background-color: white;
    padding: 1em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 1em 1em 2.5em rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style-type: none;
        .divider{
            height: 1.5em;
            width: 1px;
            border-right: 2px solid black
        }
        li {
            padding: 0 0.7em;
        }
    }
    
}


body{
    background-image: linear-gradient(275deg, #3044FF, #C2C8FD);
}
h1 {
    font-family: lemon milk;
    font-weight: bold;
    color: #245079;
    font-size: 2.5em;
}
header li{
    font-family: inter;
    font-weight: bold;
}
p, .email a{
    font-family: inter;
    font-size: 1.2em;
}
li{
    font-family: inter;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
  }
  
  a:hover, a:active {
    color:cornflowerblue;
  }
.intro{
    display: flex;
    align-items: center;
    margin: 20% 10% 20% 3em;
    gap: 10%;
    .about-me{
        flex-direction: column;
        position: relative;
        display: flex;
        border: 0 solid;
        box-shadow: 1em 1em 2.5em rgba(0, 0, 0, 0.4);
        background-color: white;
        border-radius: 2em;
        h1{
            margin-top: -25px;
            margin-left: 6%;
            margin-bottom: 5px;
        }
        p{
            padding: 1.7em;
            text-indent: 50px;
        }
    }
    .my-pic{
        width: auto;
        height: 15em;
        border-radius: 20%;
        border: 5px solid white;
        box-shadow: 1em 1em 2.5em rgba(0, 0, 0, 0.4);
    }

}
    

.hobbies{
    margin: 10% 3em 20% 22em;
    flex-direction: column;
    position: relative;
    display: flex;
    border: 0 solid;
    background-color: white;
    padding: 1.3em;
    box-shadow: 1em 1em 2.5em rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    h1{
        margin-top: -40px;
        margin-bottom: 20px;
        margin-left: 6%;
    }
    ul{
        padding-left: 3.7em;
        line-height: 2;
        font-size: 1.5em;
    }
}

.skills{
    margin: 10% 18em 20% 3em;
    flex-direction: column;
    position: relative;
    display: flex;
    border: 0 solid;
    background-color: white;
    padding: 1.3em;
    border-radius: 2em;
    box-shadow: 1em 1em 2.5em rgba(0, 0, 0, 0.4);
    h1{
        margin-top: -40px;
        margin-bottom: 20px;
        margin-left: 6%;
    }
    ul{
        padding-left: 3.7em;
        line-height: 2;
        font-size: 1.5em;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1em 1.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    h1 {
        margin-top: -37px;
        margin-bottom: 15px;
    }
    .vertical {
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        .data {
            display: flex;
            flex-direction: column;
            gap:1em;
            .phone, .email {
                display: flex;
                font-family: inter;
                gap: 1em;
                img{
                    width: 1.5em;
                    height: 1.5em;
                }
                
            }
        }
        
    }
    
}

@media (max-width: 600px) {
    .logo{
        width: 6em;
        height: auto;
    }
    h1 {
        font-family: lemon milk;
        font-weight: bold;
        color: #245079;
        font-size: 1.6em;
    }
    header li{
        font-size: 0.8em;
    }
    .intro .about-me h1{
        margin-top: -18px;
    }
    p, .skills ul, .hobbies ul, .email a{
        font-family: inter;
        font-size: 0.8em;
    }
    .intro .my-pic{
        width: auto;
        height: 10em;
    }
    .hobbies{
        margin: 10% 3em 20% 15em;
    }

    .skills{
        margin: 10% 12em 20% 3em;
    }

    .footer h1{
        margin-top: -33px;
    }
    header ul li{
        padding: 0 0.5em;
    }
}